h1 {
  font-family: Helvetica;
  font-size: 4rem;
  font-weight: lighter;
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  color: black;
}

p {
  font-family: sans-serif;
}



.main
{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.mint {
  background-color: #8bf0bf !important;
}
