/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

div.main {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-family: 'Copse', serif;
  font-size: 4rem;
  font-weight: lighter;
  color: #e0e0e0;

}


h2 {
  font-family: monospace;
  font-size: 2rem;
  color: #e0e0e0;
}

h3.light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #e0e0e0;


}

p {
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;

}

p.small {
  font-size: .80rem;
}

ul {
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1%;
  text-align: center;
}


body {
  background-color: #352680;
}


div.experience{
  color: #e0e0e0;
}




.main
{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.mint {
  background-color: #8bf0bf !important;
}


img.responsive-img {
  max-width: 100%;
  height: auto;
}

img.img-small {
  width: 10rem;
}

.circle {
  border-radius: 50%;
}
