/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}



h1 {
  font-family: Helvetica;
  font-size: 4rem;
  font-weight: lighter;

}
h1.white {
  color: white;
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  color: black;
}

p {
  font-family: sans-serif;
}

p.small {
  font-size: .80rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1%;
  text-align: center;
}


body {
  background-color: #5cffc0;
}

.main
{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.mint {
  background-color: #8bf0bf !important;
}


img.responsive-img {
  max-width: 100%;
  height: auto;
}

img.img-small {
  width: 10rem;
}

.circle {
  border-radius: 50%;
}
